span{
    cursor: pointer;
    font-weight: bold;
    font-size: xx-large;
    margin:auto;
    padding-left: 20px;
}
body{
    text-align: center;
}
div{
    display: none;
}
.fit{
    height:350px;
    
}
input{
    cursor: pointer;
    width: 25px;
    height: 25px;
}
button{
    font-weight:bold;
    font-size: xx-large;
}
a{
    font-weight:bold;
    font-size: xx-large;
    color: black;
}